In [1]:
import joblib
import pandas as pd

In [2]:
model = joblib.load( '../saved_models/svc.pkl' )
preprocessor = joblib.load( '../saved_models/preprocessor.pkl' )

In [3]:
newsample = {
    'gender':'Female',
    'age':21.0,
    'height':1.62,
    'weight':64.0,
    'family_history_with_overweight':'yes',
    'favc':'no',
    'fcvc':2.0,
    'ncp':3.0,
    'caec':'Sometimes',
    'smoke':'no',
    'ch2o':2.0,
    'scc':'no',
    'faf':0.0,
    'tue':1.0,
    'calc':'no',
    'mtrans':'Public_Transportation'
}

newData = pd.DataFrame( data=[newsample] )
newData

,gender,age,height,weight,family_history_with_overweight,favc,fcvc,ncp,caec,smoke,ch2o,scc,faf,tue,calc,mtrans
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation

In [4]:
def convert_lower(value):
    value = value.strip()
    return value.lower()

In [5]:
cat_cols = [ col for col in newData.columns if newData[col].dtype == 'O' ]
num_cols = [ col for col in newData.columns if newData[col].dtype != 'O' ]

In [6]:
for col in cat_cols:
    newData[col] = newData[col].apply(convert_lower)

In [7]:
newData

,gender,age,height,weight,family_history_with_overweight,favc,fcvc,ncp,caec,smoke,ch2o,scc,faf,tue,calc,mtrans
0,female,21.0,1.62,64.0,yes,no,2.0,3.0,sometimes,no,2.0,no,0.0,1.0,no,public_transportation

In [8]:
temp = preprocessor.transform( newData )

In [9]:
temp.shape

(1, 23)

In [10]:
model.predict( temp )[0]

'no'